	 <h2>The SF PHP Meetup Group</h2>

	<p style='font-size:16px; margin-top:10px;'>
		Thank you for coming to our drink-up. As part of our effort to give back to the community and encourage innovation we would like to offer you <b>30 days of Elastic app</b> on our PHP platform.
	</p>

<div style='margin-top:10px;'>
<%= render 'form' %>
</div>

<div class='alert-message block-message'>
	<p><strong>Notice:</strong>
		You will still need to sign up for an account&mdash;we will follow up with you and increase the length of your free trial.	
	</p>
	
</div>


