
	 <h2>Dave Balter Tech Prom Startups,</h2>

	<p style='font-size:16px; margin-top:10px;'>
		As part of our effort to give back to the community and encourage innovation we would like to offer you <b>1,500 hours</b> on either our Rails or PHP platform.
	</p>

<div style='margin-top:10px;'>
<%= render 'form' %>
</div>

<div class='alert-message block-message'>
	<p><strong>Notice:</strong>
		You will still need to sign up for an account, I will follow up with you and increase the length of your free trial.	
	</p>
	
</div>


